:root {
  --font-family: "SCDream6";
  --background-color: #e1e2e1;
  --light-color: #f0f4f5;
  --dark-color: #363543;
}

@font-face {
  font-family: "SCDream6";
  src: url(/font/SCDream6.otf);
}

html,
body {
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.left_section {
  width: 50%;
  height: 100%;
}

.left_section__bom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right_section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right_section__stock {
  width: 100%;
  height: 50%;
  background-color: var(--light-color);
  overflow: scroll;
}

.title {
  width: 20%;
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: 5px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 0px;
  margin: 3px;
}

table {
  width: 100%;
}

th {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.right_section__plan {
  width: 100%;
  height: 50%;
  background-color: var(--light-color);
}

table{
  width: 100%;
  text-align: center;
  font-size: 85%;
}

.td1 {
  width: 5%;
}

.td2{
  width: 20%;
  text-align: left;
}

.td3{
  width: 35%;
  text-align: left;
}
