:root {
  --font-family: "SCDream6";
  --background-color: #e1e2e1;
  --light-color: #f0f4f5;
  --dark-color: #363543;
}

@font-face {
  font-family: "SCDream6";
  src: url(/font/SCDream6.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.title_section {
  padding-left: 24px;
  padding-top: 12px;
  width: 100%;
}

.title {
  font-size: 24px;
  color: var(--dark-color);
}

.table_section1 {
  padding: 12px;
  width: 100%;
}

.header1_1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--light-color);
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
  margin-bottom: 12px;
}

.header1_1 .th {
  width: 10%;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 12px;
  color: var(--dark-color);
}

.header1_1 .td {
  width: 30%;
  padding-top: 3px;
  padding-left: 12px;
  padding-right: 12px;
}

.header1_1 .td input {
  width: 100%;
  height: 30px;
}

.header1_1 .btn {
  padding-top: 3px;
  padding-left: 12px;
  padding-right: 12px;
}

.header1_1 .btn .reset_btn {
  width: 10vw;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--dark-color);
  border-radius: 5px;
  margin-top: -1px;
  color: var(--background-color);
  border: 0;
}

.header1_1 .btn .search_btn {
  width: 10vw;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: seagreen;
  border-radius: 5px;
  margin-top: -1px;
  color: var(--background-color);
  border: 0;
}

.header1_2 {
  border-radius: 5px;
  color: var(--light-color);
  background-color: var(--dark-color);
  padding: 12px 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header1_2 .td9 {
  width: 8vw;
}

.top_frame {
  width: 100%;
  height: 25vh;
}

.bottom_section{
  width: 100%;
  display: flex;
  flex-direction: row;
}


.table_section2 {
  width: 50%;
  padding-left: 12px;
}



.header2_1 {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  color: var(--light-color);
  background-color: var(--dark-color);
  padding: 12px 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header2_2 {
  width: 100%;
  height: 5vh;
  padding: 12px 24px;
  background-color: var(--light-color);
}

.root {
  background-color: seagreen;
  color: var(--light-color);
  border-radius: 5px;
  width: 12vw;
  padding: 5px 0px;
  text-align: center;
}

.bottom_frame {
  width: 100%;
  height: 40vh;
}

.btn_section {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 3px;
  padding-left: 12px;
  padding-right: 12px;
}

.btn_section button {
  width: 10vw;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--dark-color);
  border-radius: 5px;
  color: var(--background-color);
  border: 0;
}

.add_section{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.add_title{
  margin-right: 12px;
  border-radius: 5px;
  color: var(--light-color);
  background-color: var(--dark-color);
  padding: 12px 24px;
  width: 100% -24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.insert_section{
  width: 100% -24px;
  height: 432px;
  padding-right: 24px;
  background-color: var(--light-color);
}

.insert_section input{
  margin-top: 10px;
}

.insert_section .btn{
  width: 10vw;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--dark-color);
  border-radius: 5px;
  color: var(--background-color);
  border: 0;
}