:root {
    --font-family: "SCDream6";
    --background-color: #e1e2e1;
    --light-color: #f0f4f5;
    --dark-color: #363543;
    --delete-color: #df4848;
  }
  
  @font-face {
    font-family: "SCDream6";
    src: url(/font/SCDream6.otf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
  }

  .btn{
    width: 80px;
    background-color: var(--delete-color);
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 6px;
    color: var(--background-color);
    border: none;
  }