:root {
    --font-family: "SCDream6";
    --background-color: #f0f4f5;
    --light-color: #e1e2e1;
    --dark-color: #363543;
  }
  
  @font-face {
    font-family: "SCDream6";
    src: url(/font/SCDream6.otf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
  }
  
table{
    width: 100%;
}

.td{
width: 100%;
display: flex;
flex-direction: row;
padding-left: 24px;
margin-bottom: 0.5%;
}

.td1{
width: 7%;
line-height: 33px;
}
.td2{
width: 9%;
line-height: 33px;
}
.td3{
width: 9%;
line-height: 33px;
text-overflow: ellipsis;
overflow: hidden;
}
.td4{
width: 9%;
line-height: 33px;
text-overflow: ellipsis;
overflow: hidden;
}
.td5{
width: 10%;
line-height: 33px;
text-overflow: ellipsis;
overflow: hidden;
}
.td6{
width: 10%;
line-height: 33px;
text-overflow: ellipsis;
overflow: hidden;
}
.td7{
width: 10%;
line-height: 33px;
text-overflow: ellipsis;
overflow: hidden;
}
.td8{
width: 9%;
line-height: 33px;
text-overflow: ellipsis;
overflow: hidden;
}
.td9{
width: 15%;
line-height: 33px;
text-overflow: ellipsis;
overflow: hidden;
}
.td10{
width: 7%;
line-height: 33px;
}
.td11{
width: 5%;
}

.btn{
    width: 80px;
    background-color: var(--dark-color);
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 6px;
    color: var(--background-color);
  }
  