:root {
  --font-family: "SCDream6";
  --background-color: #f0f4f5;
  --light-color: #e1e2e1;
  --dark-color: #363543;
}

@font-face {
  font-family: "SCDream6";
  src: url(/font/SCDream6.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr,
th,
td {
  border-bottom: solid 1px black;
}

td {
  padding-left: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.td1 {
  width: 7vw;
}

.td2 {
  width: 10vw;
}

.td3 {
  width: 10vw;
}

.td4 {
  width: 10vw;
}

.td5 {
  width: 9vw;
}

.td6 {
  width: 9vw;
}

.td7 {
  width: 8vw;
}

.td8 {
  width: 10vw;
}

.td9 {
  width: 15vw;
}

.td10 {
  width: 7vw;
}

.td_btn {
  width: 4vw;
  padding-right: 0vw;
}

.btn {
  width: 70px;
  background-color: var(--dark-color);
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 6px;
  color: var(--background-color);
  cursor: pointer;
}
/*  */
.table_section2 {
  margin-top: 24px;
  width: 100%;
}

.header2_1 {
  border-radius: 5px;
  color: var(--light-color);
  background-color: var(--dark-color);
  padding: 12px 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom_frame {
  width: 100%;
  height: 49vh;
}


